/* The Universal Selector has been used here to cancel the browser default margins and */
/* padding for every page element.  This ensures that only assigned */
/* margin and padding values are implemented when viewing pages. */
* {
    margin: 0;
    padding: 0
}

/* Background Colours */
body,
header {
    background-color: rgb(213, 129, 29)
}

nav,
footer {
    background-color: rgb(103, 63, 48)
}

main {
    background-color: rgb(206, 159, 138)
}

section {
    background-color: rgb(242, 154, 114)
}


/* Text Properties */
h1 {
    display: inline;
    color: rgb(103, 63, 48);
    float: left
}

footer a {
    color: rgb(206, 159, 138)
}

ul,
ol {
    list-style-position: inside
}

h4 {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 10px
}

.pastaText {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px
}

.chineseSpacing {
    margin: 10px
}


/* Image Properties */
.imageBanner {
    float: right;
    height: 90px;
    width: 550px
}

#studentImage {
    float: left;
    height: 120px;
    width: 160px;
    margin-right: 20px;
    margin-bottom: 20px
}

.thaiIngredient {
    width: 160px;
    height: 120px
}

.thaiCurries {
    width: 200px;
    height: 150px
}

.italianImages {
    width: 140px;
    height: 140px;
    margin-right: 50px;
    margin-top: 50px
}

.imageStirFry {
    width: 290px;
    height: 150px
}

.imageSpice {
    width: 190px;
    height: 140px;
    margin: 10px
}

.pizzaImage {
    width: 100px;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px
}

.pastaImages {
    width: 190px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 30px
}

.indianCurry {
    width: 300px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: right
}

.curryButton {
    width: 120px;
    height: 50px;
    margin-right: 10px
}

#largeThai {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left
}

.smallThai {
    width: 90px;
    height: 90px;
    margin-right: 10px
}

.indianImages {
    width: 150px;
    height: 200px
}

/* Margins */
body {
    margin: auto
}

h1 {
    margin-left: 30px;
    margin-top: 50px
}

main {
    margin-top: 10px;
    margin-bottom: 10px
}

h2,
form {
    margin: 10px
}



/* Padding */
main p {
    padding: 10px
}

footer {
    padding-left: 10px;
    padding-top: 20px
}


/* Positioning (Float, Display and Clear) */
nav,
main,
footer {
    clear: both
}


/* Element Sizes */
body {
    width: 900px
}

header {
    height: 90px
}

footer {
    height: 90px
}

nav {
    height: 34px
}


/* Navigation List Properties */
nav ul {
    list-style-type: none
}

nav ul li {
    float: left;
    width: 80px;
    text-align: center
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #000
}

nav ul li a:hover {
    background-color: rgb(213, 129, 29);
    color: White
}